<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<%= pie_chart Student.group(:course).count %>
	<%= column_chart  Student.group(:course).count %>
	
</body>
</html>